<header id='search-bar'>
  <form id='search-form'>
    <input id='search-input' type="text" name="Search-bar" [(ngModel)]="query" placeholder="Your search...">
    <button role="button" (click)="searchQuery(query)">Search!</button>
  </form>
</header>
<main id="main" class="row">
  <section class="box-result col-2 img-size">
    <figure *ngIf="picture">
      <img class='img-unsplash' src="{{ picture }}" alt="{{ pictureInfo }}">
      <figcaption id="figcap">Photo by {{pictureAuthor}} on Unsplash</figcaption>
    </figure>
  </section>
  <section class="box-result col-2" *ngIf="hasWiki">
    <h2>Wikipedia</h2>
    <ul class='news-list'>
      <li *ngFor='let title of wikiTitle; let idx = index'>
        <h3>{{title}}</h3>
        <a href="{{ wikiAnchor[idx] }}"> {{ wikiInfo[idx] }}</a>
      </li>
    </ul>
  </section>
  <section class="box-result col-1 center" *ngIf="news">
    <h2>News</h2>
    <ul class='news-list'>
      <li *ngFor="let oneNews of news">
        <p><a href='{{ oneNews.web_url }}'>{{ oneNews.snippet }}</a></p>
      </li>
    </ul>
  </section>
</main>